.call-to-judge {
  margin-top: 88px;
  margin-bottom: 72px;
}
.call-to-judge-wrapper {
  max-width: 923px;
  width: 100%;
  margin: 0 275px;
  display: flex;
  justify-content: space-between;
}
.call-left {
  width: 49%;
}
.call-subtitle {
  font-family: Montserrat;
  color: #202020;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 123%;
  margin-bottom: 12px;
}
.call-title {
  font-family: Montserrat;
  color: #9dc622;
  font-weight: bold;
  font-size: 48px;
  line-height: 104%;
  margin-bottom: 32px;
}
.call-text {
  font-family: Open Sans;
  color: #202020;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}
.no-limit {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  &:last-child {
    margin-bottom: 0;
  }
}
.no-limit .icon-times {
  margin-right: 35px;
  margin-left: 11px;
  width: 38px;
  height: 60px;
}
.no-limit .icon-visit {
  margin-right: 35px;
  width: 60px;
  height: 60px;
}
.no-limit .icon-field {
  margin-right: 35px;
  width: 54px;
  height: 60px;
  margin-left: 3px;
}
.no-limit-text {
  font-family: Open Sans;
  color: #202020;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
  .call-to-judge-wrapper {
    margin: 0 auto;
  }
  .call-to-judge {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .no-limit {
    margin-bottom: 31px;
  }
}
@media screen and (max-width: $mobile) {
  .call-to-judge-wrapper {
    flex-direction: column;
    margin: 0 auto;
  }

  .call-subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .call-title {
    font-size: 32px;
    line-height: 104%;
  }
  .call-text {
    font-size: 16px;
    line-height: 156%;
  }
  .call-left {
    width: 100%;
    margin-bottom: 40px;
  }
}
