.download-brochure {
  background-color: #f0f0f0;
  margin-bottom: 60px;
}
.brochure {
  display: flex;
  max-width: 850px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.picture {
  position: relative;
  width: 737px;
  height: 544px;
  & img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.brochure-items {
  margin-left: -165px;
}
form {
  margin-top: 80px;
  margin-bottom: 85px;
}
.picture {
  overflow: hidden;
  object-fit: contain;
}
.label-title {
  font-family: Montserrat;
  color: #202020;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  & span {
    font-family: Montserrat;
    color: #9dc622;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
  }
}
.input-all {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.input-name {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
input {
  padding: 14px 0 14px 0;
}
.name-text {
  margin-right: 31px;
}
input {
  width: 100%;
}

.input-email {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 24px;
}
.email-text {
  margin-right: 36px;
}
.input-subtitle {
  margin-bottom: 32px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;

  color: #202020;
}
button.btn-download {
  width: 37.22%;
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
  .picture {
    display: none;
  }
  .brochure {
    justify-content: center;
    padding: 0 16px;
  }
  .brochure-items {
    margin-left: 0;
  }
  form {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .download-brochure {
    background-color: #f0f0f0;
    min-height: 614px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 34px;
    min-width: 320px;
    width: 100%;
  }
  .label {
    min-width: 320px;
    width: 100%;
    height: 80px;
  }

  .input-all {
    min-width: 256px;
    margin-top: 22px;
  }
  .input-name {
    flex-direction: column;
  }

  .name-text,
  .email-text {
    margin-bottom: 4px;
    margin-right: 0;
    align-self: flex-start;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 153%;

    color: #202020;
  }
  .input-email {
    flex-direction: column;
  }
  .label-title {
    font-family: Montserrat;
    color: #202020;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    & span {
      font-family: Montserrat;
      color: #9dc622;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }
  }
  button.btn-download {
    width: 67.37%;
  }
  .input-subtitle {
    margin-bottom: 24px;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;

    color: #202020;
  }
}

@media screen and (max-width: $mobile) {
}
