@font-face {
  font-family: Open Sans;
  src: url(../assets/static/font/OpenSans-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Open Sans;
  src: url(../assets/static/font/OpenSans-Italic.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Open Sans;
  src: url(../assets/static/font/OpenSans-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Open Sans;
  src: url(../assets/static/font/OpenSans-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-Italic.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-ExtraBold.woff2);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/static/font/Montserrat-SemiBoldItalic.woff2);
  font-weight: 600;
  font-display: swap;
}

@import "variables-breakpoints";

body {
  font-size: 15px;
  font-weight: 400;
  line-height: 136%;
}

h1 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 500;
  line-height: 103%;
}

h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 135%;
}

h3 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 122%;
}
.content {
  font-family: Open sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 156%;
}

.subtitle {
  font-family: Open sans;
  font-size: 16px;
  line-height: 156%;
  font-weight: 600;
  color: $green;
}

.caption {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 104%;
  font-weight: 600;
}

a {
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: $tablet) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }
  .caption {
    font-size: 24px;
  }
}

@media screen and (max-width: $mobile) {
}
