.container .header-content {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 70px;
}
.header-phone {
  display: flex;
  align-items: baseline;
  margin-right: 65px;
}
.phone-icon {
  margin-right: 12px;
  img {
    width: 10px;
    height: 17px;
  }
}
.content {
  color: $dark;
  font-size: 22px;
  line-height: 27px;
}
.header-nav {
  display: flex;
}
.nav-link {
  margin-right: 45px;
  color: $dark;
  font-family: Montserrat;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $green;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
  }
  &:hover {
    cursor: pointer;
    color: $green-light;
  }
  &.active {
    color: $green-light;
  }
}

.menu {
  display: none;
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
  .container-header {
    padding: 0 16px;
  }
  .menu {
    display: block;
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 2000;

    margin-top: -17px;
  }
  .menu {
    display: flex;
    cursor: pointer;
  }
  .container-header {
    margin-top: 32px;
    margin-left: 20px;
  }
  .header-phone,
  .header-nav,
  .btn-fomalize {
    display: none;
  }
  .header-logo {
    margin-right: 0;
  }
  .container .header-content {
    margin-top: 32px;
    margin-bottom: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: $mobile) {
}
