.card {
  height: 768px;

  background: url("/src/assets/static/img/bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.container .card-content {
  max-width: 1116px;
  width: 100%;
  margin: 0 0 0 100px;
  padding-top: 72px;
}
.card-content {
  display: flex;
}
.left {
  display: flex;
  width: 39%;
  flex-direction: column;
}
.left-title {
  display: flex;
  align-items: center;
}
.card-title {
  margin-right: 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: $green-text;
}
.card-subtitle {
  margin-top: 10px;
  font-family: Montserrat;
  color: $white;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 2px;
}
.for-who {
  font-family: Montserrat;
  color: $white;
  font-weight: 500;
  font-size: 32px;
  line-height: 33px;
}
.card-img {
  margin-top: 56px;
  overflow: hidden;

  img {
    display: block;
  }
}
.text-under-card {
  margin-top: 48px;
  margin-bottom: 40px;
  font-family: Open Sans;
  color: $white;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.7px;
}
button.btn-order {
  width: 36%;
}
.right img {
  position: absolute;
  bottom: -56px;
  right: 150px;
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
