.container {
  height: 768px;
  margin: 0;

  position: relative;
  background: url("/src/assets/static/img/bg.png") no-repeat;
}
.card {
  display: flex;

  justify-content: space-between;
  flex-direction: column;

  padding: 75px 0 0 165px;
}
.card-item {
  display: flex;
  align-items: center;
}
.title {
  font-family: Montserrat;
  color: $green-light;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  margin-right: 20px;
}
.subtitle {
  font-family: Montserrat;
  color: $white;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
}
.text {
  font-family: Montserrat;
  color: $white;
  font-weight: 500;
  font-size: 32px;
  line-height: 33px;
  margin-bottom: 56px;
}
.pic {
  margin-bottom: 50px;
}
.text_1 {
  font-family: Open Sans;
  color: $white;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
}
.card-right {
  position: absolute;
  bottom: -17px;
  right: 120px;
  height: 100%;
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
