/* Modal */
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 2000;
}
.modal-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: $white;
  padding: 15px;
  border: 2px solid $dark;
  border-radius: 5px;
  position: relative;
}
.header-content-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-phone-m {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}
.phone-icon-m {
  margin-right: 12px;
  img {
    width: 10px;
    height: 17px;
  }
}
.content-m {
  color: $dark;
  font-size: 22px;
  line-height: 27px;
}
.header-nav-m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.nav-link-m {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $dark;
  font-family: Montserrat;
}
.nav-link-m {
  margin-right: 45px;
  color: $dark;
  font-family: Montserrat;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $green;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
  }
  &:hover {
    cursor: pointer;
    color: $green-light;
  }
  &.active {
    color: $green-light;
  }
}
.close {
  position: absolute;
  top: -40px;
  right: -32px;
  z-index: 2000;
}
.modal.show {
  display: flex;
}

@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
  .container-header {
    padding: 0 16px;
  }
  .nav-link-m {
    margin-right: 0;
  }
}

@media screen and (max-width: $mobile) {
}
