.price {
  margin-bottom: 88px;
}
.price-grid {
  min-height: 100%;
  display: grid;
  grid-template: repeat(5, 55px minmax(55px, 76px)) / repeat(
      1,
      340px 170px 170px 170px
    );
  align-content: center;
  justify-content: center;
}
.price-item {
  margin: auto 16px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: #fff;
}
.row-title {
  display: grid;
  grid-template: repeat(1, 55px minmax(55px, 76px)) / repeat(
      1,
      340px 170px 170px 170px
    );
  grid-column: 1/5;
  background: #9dc622;
}
.div {
  display: grid;
  align-content: center;
  border-right: 1px solid #dedede;
}
.row-text {
  display: grid;

  grid-template: repeat(1, minmax(55px, 76px)) / repeat(
      1,
      340px 170px 170px 170px
    );
  grid-column: 1/5;
  &:nth-of-type(even) {
    background: #f0f0f0;
    border: 1px solid #dedede;
  }
  &:nth-of-type(odd) {
    background: #e5e5e5;
    border: 1px solid #dedede;
  }
}

.price-item.text {
  font-family: Open Sans;
  color: #202020;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  border-right: 1px solid #dedede;
  &:last-child {
    border-right: none;
  }
}
@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
  .price {
    display: none;
  }
}

@media screen and (max-width: $mobile) {
}
