.comparison {
  margin-bottom: 65px;
}
.container .comparison-wrapper {
  max-width: 851px;
  width: 100%;
  margin: 0 auto;
}
.comparison-wrapper {
  display: flex;
  justify-content: flex-start;
}
.comparison-left {
  width: 49%;
}
.comparison-left-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comparison-left-title {
  font-family: Montserrat;
  color: #505050;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid #dbd5d5;
  padding: 29px 126px 21px 126px;
  white-space: nowrap;
}
.no-benefits-text {
  font-family: Open Sans;
  color: #505050;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  //border-left: 1px solid #dbd5d5;
  //border-top: 1px solid #dbd5d5;
  //border-bottom: 1px solid #dbd5d5;
  padding: 17px 50px 15px 40px;
}
.benefits-text {
  font-family: Open Sans;
  color: #505050;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  //border-right: 1px solid #dbd5d5;
  //border-top: 1px solid #dbd5d5;
  //border-bottom: 1px solid #dbd5d5;
  padding: 17px 50px 15px 40px;
}
.benefits-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 851px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dbd5d5;
}

@import "variables-breakpoints";
@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
